ul{
    padding-left: 10px;
    padding-right: 10px;
    list-style-type: none;
    height: calc(100% - 64px);
    overflow-y: auto;
    overflow-x: hidden;
    border-bottom: 1px solid rgb(241, 241, 241);
    border-top: 1px solid rgb(241, 241, 241);
    background-color: rgb(241, 241, 241);
}