<div class="container-fluid height-100">
  <div class="row" *ngIf="!showBookList else listBooks">
    <div class="col-12 text-center">

      <button class="btn btn-sm btn-outline-primary my-btn" (click)="onShowBooks()" ngbTooltip="Open a list of books">
        <i class="fa fa-folder-open"></i>
        Show List Of Books
      </button>
    </div>
  </div>

  <ng-template #listBooks>
    <div class="row height-100">
      <div class="col-xs-12 list-wrapper">
        <router-outlet></router-outlet>
      </div>
    </div>
  </ng-template>

</div>